*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
   color: orange;
}

.navbar a{
    color: orange;
}


.navbar-toggler-icon {
    background-color: grey; /* Cambiar el color de fondo del icono de hamburguesa a rojo */
}

.botones{
    text-align: center;
}

.botones a {
    margin: 20px;
    padding: 20px;
    margin-right: 50px; 
}

.card-body{
    color: black;
    background-color: orange;
}

.card-footer{
    background-color: black;
}