*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
   color: orange;
}

.navbar a{
    color: orange;
}


.navbar-toggler-icon {
    background-color: grey;
}

.botones{
    text-align: center;
}

.botones a {
    margin: 20px;
    padding: 20px;
    margin-right: 50px; 
}

.card-body{
    background-color: orange;
}

footer {
    background-color: #808080; 
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 20px 0; 
  }

footer a{
    color: white;
    text-decoration: none;
}

footer h3{
    color: white;
}

footer p{
    color: white;
}


.titulos h1{
  margin: 0px;
    text-align: center;
    color: white;
    font-size: 48px;
    color: #000000; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.topop {
    text-align: center;
    margin-bottom: 100px;
    background-color: grey;
    border-radius: 50px;
}

.topop h2{
    font-size: 48px;
    color: #ffffff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.footerm{
    background-color: white;
}

.footerm h3{
    color: black;
}

.footerm p{
    color: black;
}

.footerm ul li a{
    color: black;
}

.cardpromo{
    display: flex;
    justify-content: end;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap; 
    gap: 20px; 
}


.cardc {
    width: 18rem; 
    height: auto; 
}

.bannerColecciones {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px; 
    background-color: gray; 
    color: white; 
    margin-bottom: 20px; 
}